html {
	font-size: 10px;
	@include md-desk-only {
		font-size: 9px;
	}
	@include sm-desk-only {
		font-size: 8px;
	}
	@include limbo-only {
		font-size: 7px;
	}
	@include tab-only {
		font-size: 6px;
	}
	@include mob-only {
		font-size: 5px;
	}
}
