.home_video {
	position: relative;
	.et_pb_code_inner > div {
		margin-top: -56.25%!important;
	}
}

/* Wine Club */

.fl_bottles_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1480px;
	margin-inline: auto;
	@include mob-only {
		flex-direction: column;
	}
	.fl_bottles {
		@include tab-min {
			padding-inline: 3rem;
			max-width: 400px;
			width: calc(100% / 3);
		}
	}
	.fl_signup_btn[href=""] {
		pointer-events: none;
		opacity: .3;
	}
	.fl_signup_wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(-100%);
		background-color: #e9e9e8;
		width: fit-content;
		max-width: calc(100% - 30px);
		margin-inline: auto;
		@include limbo-only {
			flex-direction: column;
			transform: translateY(-40%);
			.fl_signup_ss {
				margin-bottom: 5px;
			}
		}
		@include tab-only {
			flex-direction: column;
			transform: translateY(-40%);
			.fl_signup_ss {
				margin-bottom: 5px;
			}
		}
		.fl_signup_btn {
			font-size: 16px;
			background-color: #d6d2d0;
			font-weight: bold;
			font-style: normal;
			text-transform: uppercase;
			text-decoration: none;
			border: 2px solid;
			border-radius: 3px;
			padding: 7px 2.5rem;
			color: #000000;
			@include desk-min {
				margin-left: 10px;
			}
			@include mob-only {
				margin-left: 5px;
			}
			&:hover {
				color: #ffffff;
				background-color: #000000;
				border-color: #d6d2d0;
				transition: .4s all;
			}
		}
		.fl_signup_ss {
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			font-size: 18px;
			color: #222020;
			background-color: transparent;
			cursor: pointer;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
			background-color: #ecebeb;
			background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6cmdiYSgyNTUsMjU1LDI1NSwwKTt9LmNscy0ye2ZpbGw6IzVCNTg1NTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
			background-color: #ecebeb;
			background-position: center right;
			border-radius: 3px;
			padding: 7px 20px 7px 5px;
			@include tab-max {
				font-size: 16px;
			}
		}
	}
}
