.single-product {
    #main-content {
        background-color: #e9e9e8;
    }
    .container {
        width: 100%;
		&:before {
			display: none;
		}
    }
}
.fl_product_main {
    display: flex;
	padding-bottom: 15rem;
	@include mob-only {
		flex-direction: column;
	}
    .fl_product_left {
        @include tab-min {
			width: 50%;
		}
		padding: 3rem 8rem 10rem 5%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
		@include mob-only {
			font-size: 18px;
		}
        .fl_price {
            font-size: 4rem;
			margin-right: 1rem;
			@include mob-only {
				width: 100%;
				margin-bottom: 3rem;
				font-size: 30px;
			}
        }
        .fl_order_btn {
            background: #d6d2d0;
            border: 2px solid #252423;
            color: #222020;
            font-size: 2.4rem;
            padding: 2rem 3.5rem;
			margin-right: 1rem;
			&[href=""] {
				pointer-events: none;
				opacity: .3;
			}
			@include mob-only {
				font-size: 18px;
			}
        }
		.fl_order_ss {
			justify-content: center;
			align-items: center;
			font-size: 2.4rem;
			color: #222020;
			background-color: transparent;
			border: none;
			cursor: pointer;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
			background-color: #ecebeb;
			background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6cmdiYSgyNTUsMjU1LDI1NSwwKTt9LmNscy0ye2ZpbGw6IzVCNTg1NTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
			background-color: #ecebeb;
			background-position: center right;
			padding-right: 20px;
			@include mob-only {
				font-size: 18px;
			}
			option {
				background-color: transparent;
			}
		}
        .fl_pl_top {
            margin-top: 4.5rem;
            margin-bottom: 6.25rem;
            display: flex;
            justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			@include mob-only {
				margin-top: 3rem;
			}
        }

        .fl_pl_additional_info {
          	.fl_pl_ai_box {
                padding-top: 2rem;
            }
            .fl_pl_title {
                font-size: 3.1rem;
				@include mob-only {
					font-size: 25px;
				}
            }
        }
    }
    .fl_product_right {
        @include tab-min {
			width: 50%;
		}
        img {
			object-fit: contain;
			height: 100%;
        }
    }
}


/* Recommended */

.fl_recommended {
	padding-bottom: 9rem;
	.title-1 {
		text-align: center;
		margin-bottom: 7rem;
	}
	.fl_recommended_inner {
		display: flex;
        justify-content: center;
		@include mob-only {
			flex-direction: column;
		}
	}
}
.fl_wine {

    img {
        box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.3);
    }
	.bw_recommended_text {
		text-align: center;
		margin-top: 4rem;
		p {
			font-size: 2.4rem;
		}
		.bw_recommended_price {
			font-size: 3.2rem;
			font-family: 'Kaisei Decol',Georgia,"Times New Roman",serif;
			&::before {
				content: "";
				margin: 20px auto;
				display: block;
				height: 3px;
				width: 100px;
				background-color: #4b0197;
			}
		}
	}
	@include limbo-min {
		width: 23%;
		&:not(:last-child) {
			margin-right: calc(8% / 3);
		}
	}
	@include tab-only {
		width: 31%;
		&:not(:last-child) {
			margin-right: calc(7% / 3);
		}
	}
	@include mob-only {
		&:not(:last-child) {
			margin-bottom: 5rem;
		}
		.bw_recommended_text  {
			p {
				font-size: 20px;
				margin-top: 5px;
			}
			.bw_recommended_price {
				font-size: 20px;
			}
		}
	}
}
/* Reviews */

.bw_reviews {
	background-color: #fff;
	.container {
		text-align: center;
		h2 {
			margin-bottom: 10px;
		}
	}
}

/* CTA */

.bw_product_cta {
	display: flex;
	position: relative;
	.background_image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		object-fit: cover;
		z-index: 1;
	}
	@include tab-max {
		flex-direction: column;
	}
	.bw_product_cta_left {
		line-height: 0;
		z-index: 2;
		@include limbo-min {
			width: 50%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.bw_product_cta_right {
		z-index: 2;
		padding: 5.5rem 15rem;
		display: flex;
		@include limbo-min {
			width: calc(50% + 1px)
		}
		@include limbo-max {
			padding: 5rem 10rem;
		}
		flex-direction: column;
		* {
			color: #fff;
		}
		.cta_logo {
			margin-inline: auto;
		}
		.title-1 {
			margin-top: 11rem;
			margin-bottom: 4.5rem;
			@include limbo-max {
				margin-top: 5rem;
				margin-bottom: 3rem;
			}
		}
		.bw_product_cta_content {
			font-size: 16px;
			line-height: 1.5;
			max-width: 400px;
			@include mob-only {
				font-size: 20px;
			}
		}
		.bw_cta_btn {
			background-color: #d6d2d0;
			color: #000;
			display: flex;
			padding: .3em 1em;
			width: fit-content;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 700;
			margin-top: 4.5rem;
			border-radius: 3px;
			border: 2px solid;
			transition: .2s all;
			&:hover {
				color: #ffffff;
				background-color: #000000;
				border-color: #d6d2d0;
			}
			@include mob-only {
				width: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
